<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="aimwright-suite" verbose="1">

    <!-- UI Tests - require browser -->
    <test name="auth-tests">
        <classes>
            <class name="com.spectralink.aimwright.tests.auth.LoginTest"/>
        </classes>
    </test>

    <test name="hierarchy-tests">
        <classes>
            <class name="com.spectralink.aimwright.tests.hierarchy.OrganizationCrudTest"/>
            <class name="com.spectralink.aimwright.tests.hierarchy.LocationCrudTest"/>
            <class name="com.spectralink.aimwright.tests.hierarchy.LocationSortingTest"/>
        </classes>
    </test>

    <test name="handsets-tests">
        <classes>
            <class name="com.spectralink.aimwright.tests.handsets.DevicesSortingTest"/>
            <class name="com.spectralink.aimwright.tests.handsets.BatteriesSortingTest"/>
        </classes>
    </test>

    <test name="infrastructure-tests">
        <classes>
            <class name="com.spectralink.aimwright.tests.infrastructure.GatewaysSortingTest"/>
        </classes>
    </test>

    <test name="monitoring-tests">
        <classes>
            <class name="com.spectralink.aimwright.tests.monitoring.AlertsSortingTest"/>
            <class name="com.spectralink.aimwright.tests.monitoring.DashboardCountsTest"/>
        </classes>
    </test>

    <!-- API Tests - no browser required -->
    <test name="api-tests">
        <classes>
            <class name="com.spectralink.aimwright.tests.api.DevicesApiTest"/>
            <class name="com.spectralink.aimwright.tests.api.LocationsApiTest"/>
            <class name="com.spectralink.aimwright.tests.api.OrganizationsApiTest"/>
            <class name="com.spectralink.aimwright.tests.api.AccountsApiTest"/>
        </classes>
    </test>

</suite>